* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#container {
  /* border: 1px solid #fff; */
  width: 100%;
}

#header {
  height: 200px;
}

#header a {
  color: red;
  font-size: 50px;
  font-weight: 900;
  display: block;
  text-decoration: none;
  padding-bottom: 20px;
  margin: 50px;
  border-bottom: 1px solid #383838;
}

#login {
  /* border: 1px solid #fff; */
  margin: 0 auto;
  width: 40%;
}

#login p {
  color: #fff;
  font-size: 25px;
  margin-bottom: 30px;
}

#login p:nth-of-type(1) {
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 80px;
}

#login p:nth-of-type(2) {
  text-align: right;
  text-decoration: underline;
  color: grey;
}


#login #id {
  width: 100%;
  color: grey;
  display: block;
  margin-bottom: 40px;
  padding: 20px 5px;
  border: none;
  border-bottom: 4px solid #ddd;
  background-color: #000;
  font-size: 30px;

}

#login #pw {
  width: 100%;
  color: grey;
  display: block;
  margin-bottom: 40px;
  padding: 20px 5px;
  border: none;
  border-bottom: 4px solid #ddd;
  background-color: #000;
  font-size: 30px;

}

#login button a {
  color: #fff;
  text-decoration: none;
}

#login button {
  display: block;
  width: 100%;
  border: none;
  font-size: 30px;

}

#login button:nth-of-type(1) {
  background-color: red;
  padding: 20px 0;
  margin-bottom: 35px;
}

#login button:nth-of-type(2) {
  background-color: rgb(64, 62, 62);
  padding: 20px 0;
  margin-bottom: 100px;
}

footer {
  height: 150px;
  border-top: 1px solid #383838;
  color: white;
}

footer p {
  font-size: 15px;
  margin-top: 30px;
  text-align: center;
  font-style: italic;
}
