* {
  box-sizing: border-box;
  font-size: 40px;
}

body {
  background-color: black;
}

a,
button {
  color: #fff;
  text-decoration: none;
}


#container {
  /* border: 1px solid #fff; */
  width: 1500px;
  margin: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#header {
  /* border: 1px solid #fff; */
  margin-bottom: 50px;
  overflow: hidden;
}

#header .logo {
  display: block;
  float: left;
  font-size: 70px;
  text-decoration: underline;
}

#header .admin {
  display: block;
  float: right;
}

#header button {
  display: block;
  float: right;
  background-color: red;
  position: relative;
  bottom: 10px;
  padding: 10px 40px;
  margin-right: 35px;
}


#article {
  /* border: 1px solid #fff; */
  display: flex;
}

#article div {
  /* border: 1px solid white; */
  width: 450px;
  height: 600px;
  border-radius: 20px;
  text-align: center;
  flex: 1;
  margin: 20px;
  background-color: rgb(64, 62, 62);
  transition: 0.35s;
}

#article a {
  text-align: center;
  line-height: 600px;
}

#article div:first-child {
  margin-left: 0;
}

#article div:last-child {
  margin-right: 0;
}

#article div:hover {
  background-color: rgb(177, 172, 172);
}